 RewriteRule ^(healthcare-app|user)($|/) - [L]

RewriteEngine on
RewriteBase /

# Removes the .php extension from the url
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]